OPENAI_API_KEY=your_openai_api_key_here
MONGODB_URI=your_mongodb_connection_string_here
DB_NAME=e_commerce
PRODUCTS_COLLECTION=products
VECTOR_COLLECTION=vector_products
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4o-mini
